.lists-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-container {
  align-self: flex-end;
  margin: 1rem 0;
}
.table-container,
.movie-lists {
  width: 100%;
}

.table-container {
  text-align: center;
  max-width: 1200px; /* Set max width */
  height: 400px; /* Set height to limit content area */
  margin: 0 auto;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  padding: 10px;
}

.table-container::-webkit-scrollbar{
  width: 10px;
}
.table-container::-webkit-scrollbar-track{
  background-color: black;
}