.Main {
  display: flex;
  overflow: hidden;
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Main .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
}
.Main .container .outlet {
  flex-grow: 3;
  padding: 1rem;
  overflow-y: auto;
}

.Main .container .navigation ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #000;
  height: 80px;
  
}
.Main .container .navigation ul li {
  padding: 0px 60px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  font-weight: bold;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 15px;
}
.Main .container .navigation ul li a {
  text-decoration: none;
  color: #61dafb;
}
.Main .container .navigation ul li.active a,
.Main .container .navigation ul li:hover a {
  color: #f1f1f1;
}
.Main .container .navigation ul li.active,
.Main .container .navigation ul li:hover {
  background: #353a43;
}
.Main .container .navigation ul li a {
  text-decoration: none;
}

.Main .container .navigation ul li.logout,
.Main .container .navigation ul li.login {
  cursor: pointer;
  justify-self: end;
}
