.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
}
.Main .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Main .container .outlet {
  flex-grow: 3;
  padding: 1rem;
  overflow-y: auto;
}

.Main .container .navigation ul {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 2000px;
  background-color: #121212; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-right: 1px solid #333;
}

.Main .container .navigation ul li {
  padding: 0px 60px;
  margin: 0;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  font-weight: bold;
}
.Main .container .navigation ul li a {
  text-decoration: none;
  color: #61dafb;
}
.Main .container .navigation ul li.active a,
.Main .container .navigation ul li:hover a {
  color: #f1f1f1;
}
.Main .container .navigation ul li.active,
.Main .container .navigation ul li:hover {
  background: #353a43;
}
.Main .container .navigation ul li a {
  text-decoration: none;
}

.Main .container .navigation ul li.logout,
.Main .container .navigation ul li.login {
  cursor: pointer;
  justify-self: end;
}
