.Login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(nice.jpg);
  background-size: cover;
  background-repeat: repeat;
  position: relative;
  
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: #e0e0e0; /* Light text */
  font-size: 1.5rem;
}

.form-container {
  padding: 4rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-image: url(movie.jpg); 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  width: 300px;
}
.form-container > div {
  margin-bottom: 12px;
}

.form-group {
  display: flex;
}

.form-group label {
  font-size: 0.9rem;
  color: #bbb;
}
input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #333; /* Border matches the dark theme */
  border-radius: 5px;
  background: #2c2c2c; /* Darker input background */
  color: #e0e0e0; /* Light text for contrast */
}

input:focus {
  outline: none;
  border: 1px solid #007bff; /* Subtle blue focus effect */
}
.errors {
  color: red;
  font-size: 12px;
}
.submit-container {
  margin-top: 12px;
  text-align: center;
}
.register-container {
  text-align: center;
}
.show-password {
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
  text-align: right;
}

.show-password:hover {
  text-decoration: underline;
}

button {
  background: #007bff; /* Primary button color */
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3; /* Slightly darker blue on hover */
}

button:disabled {
  background: #444; /* Gray for disabled state */
  cursor: not-allowed;
}

.register-container {
  text-align: center;
  margin-top: 1rem;
}

.register-container small {
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

.register-container small:hover {
  text-decoration: underline;
}

